* {box-sizing:border-box}


.carousel__track {
  max-width: 1600pxpx;
  position: relative;
  margin: auto;
}

.Containers {
  display: none;
}

.Back, .forward {
  cursor: pointer;
  position: absolute;
  top: 20%;
  width: 5px;
  height: 5px;
  margin-top: -23px;
  padding: 25px;
  color: grey;
  font-weight: bold;
  font-size: 25px;
  transition: 0.4s ease;
  border-radius: 30px;
  user-select: none;
  background-color: white;
}

.forward {
  right: 0;
  border-radius: 30px;
}


.dots {
  cursor: pointer;
  height: 7px;
  width: 7px;
  margin: 0 5px;
  background-color: #acc;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
}

.enable, .dots:hover {
  background-color: #717161;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.4s;
  animation-name: fade;
  animation-duration: 1.4s;
}

@-webkit-keyframes fade {
  from {opacity: .5}
  to {opacity: 2}
}

@keyframes fade {
  from {opacity: .5}
  to {opacity: 2}
}
